@import url(http://fonts.googleapis.com/css?family=Julee); 
*{
	margin:0;
	padding:0;
}
body{
    font-size: 9pt;
    color: #333;
    font-family: Verdana, Arial;  
    margin:0;
    padding:0;
    overflow-x:hidden;
       
}
h1,h2,h3,h4,h5,h6,h1 *,h2 *,h3 *,.menu a{
    font-family: Julee !important;
}
#container
{    
    margin: 0 auto;
    width:960px;
    background: #fff;
}
#header a:hover{
    
}
#header{
    margin-top: 20px;
    color: #336699;
    margin-bottom: 20px;
}
#navigation{
    display: block;
    width:100%;
    height: 19px;    
}
#navigation ul{
    padding: 0px;
    margin: 0px;
    float: left;
    position: relative;    
    left:50%;
    margin-top: -5px;
    list-style: none;
    text-align: center;
    height: 25px;    
}
#navigation ul li{
    display:inline;
    float: left;    
    text-align: center;
    position:relative;
    right:50%;  
    margin-right: 2px;
    height: 25px;    
   padding: 0px;
    
}
#navigation ul li a:hover{     
    background: #F2F7FF;
}
#navigation ul li a{     
    padding: 6px 15px;        
    color: #000;
    font-size: 11pt;
    display: block;
    margin-top: -4px;   
    text-decoration: none;
    -webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
       
}
#navigation ul li.current-menu-item{
    margin-top: -5px;       
}
#navigation ul li.current-menu-item a{
    padding: 7px 15px;
    display: block;
    background: #e2eeff;
    border: 1px solid #7AB1FF; 
    display: block;
    margin-top: -2px;     
    border-bottom:1px solid  #e2eeff;
background: -moz-linear-gradient(top, #bfdbff 1%, #e2eeff 31%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#bfdbff), color-stop(31%,#e2eeff));
background: -webkit-linear-gradient(top, #bfdbff 1%,#e2eeff 31%);
background: -o-linear-gradient(top, #bfdbff 1%,#e2eeff 31%);
background: -ms-linear-gradient(top, #bfdbff 1%,#e2eeff 31%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfdbff', endColorstr='#e2eeff',GradientType=0 );
background: linear-gradient(top, #bfdbff 1%,#e2eeff 31%);
    color: #000;
    font-size: 11pt;
    
    -webkit-border-top-left-radius: 6px;
-webkit-border-top-right-radius: 6px;
-moz-border-radius-topleft: 6px;
-moz-border-radius-topright: 6px;
border-top-left-radius: 6px;
border-top-right-radius: 6px;   
       
}
#nav-footer {   
    clear: both;
background: #e2eeff;
background: -moz-linear-gradient(top, #e2eeff 22%, #bfdbff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#e2eeff), color-stop(100%,#bfdbff));
background: -webkit-linear-gradient(top, #e2eeff 22%,#bfdbff 100%);
background: -o-linear-gradient(top, #e2eeff 22%,#bfdbff 100%);
background: -ms-linear-gradient(top, #e2eeff 22%,#bfdbff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2eeff', endColorstr='#bfdbff',GradientType=0 );
background: linear-gradient(top, #e2eeff 22%,#bfdbff 100%);
border: 1px solid #7AB1FF; 
    -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
color: #000;
line-height: 20px;
padding: 8px 15px; 
font-size: 9pt;   
text-align: center;
}

.button{
background: #eaf3ff;
background: -moz-linear-gradient(top, #eaf3ff 1%, #dbeaff 56%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#eaf3ff), color-stop(56%,#dbeaff));
background: -webkit-linear-gradient(top, #eaf3ff 1%,#dbeaff 56%);
background: -o-linear-gradient(top, #eaf3ff 1%,#dbeaff 56%);
background: -ms-linear-gradient(top, #eaf3ff 1%,#dbeaff 56%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaf3ff', endColorstr='#dbeaff',GradientType=0 );
background: linear-gradient(top, #eaf3ff 1%,#dbeaff 56%);
border:1px solid  #7AB1FF; 
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; 
padding: 3px 10px;
font-family: 'Segoe UI';
font-weight: bold;
font-size: 9pt;
color: #2765B5;
font-style: italic;
-moz-box-shadow: inset 0 0 5px #BFDAFF;
-webkit-box-shadow: inset 0 0 5px #BFDAFF;
box-shadow: inner 0 0 5px #BFDAFF;
}
.text{
border:1px solid  #7AB1FF; 
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; 
padding: 4px 10px; 
-moz-box-shadow: inset 0 0 5px #D3E6FF;
-webkit-box-shadow: inset 0 0 5px #D3E6FF;
box-shadow: inner 0 0 5px #D3E6FF;
}
a{
    color: #226AC1;
} 

h1{ font-size:24pt; margin: 5px 0px; } 
h2{ font-size:20pt; margin: 5px 0px; } 
h3{ font-size:14pt; margin: 5px 0px; } 
h4{ font-size:12pt; margin: 5px 0px; } 

.box_green p,.box_yellow p,.box p{    
    
    padding: 5px;
    
}
.box{
margin: 3px;    
border:1px solid  #7AB1FF;
-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
   
float: left;
font-size: 9pt;
}
.box .header,.box h3{
background: #fcfdff;
background: -moz-linear-gradient(top, #fcfdff 1%, #eaf3ff 56%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcfdff), color-stop(56%,#eaf3ff));
background: -webkit-linear-gradient(top, #fcfdff 1%,#eaf3ff 56%);
background: -o-linear-gradient(top, #fcfdff 1%,#eaf3ff 56%);
background: -ms-linear-gradient(top, #fcfdff 1%,#eaf3ff 56%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfdff', endColorstr='#eaf3ff',GradientType=0 );
background: linear-gradient(top, #fcfdff 1%,#eaf3ff 56%);
border-bottom:1px solid  #7AB1FF;
margin: 0px;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
font-size: 13pt;
font-family: 'Julee';
padding: 5px;
display: block;
line-height: 25px;
}

.hlight{
background: #fff4ca;
background: -moz-linear-gradient(top, #fff4ca 0%, #fffbef 82%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff4ca), color-stop(82%,#fffbef));
background: -webkit-linear-gradient(top, #fff4ca 0%,#fffbef 82%);
background: -o-linear-gradient(top, #fff4ca 0%,#fffbef 82%);
background: -ms-linear-gradient(top, #fff4ca 0%,#fffbef 82%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff4ca', endColorstr='#fffbef',GradientType=0 );
background: linear-gradient(top, #fff4ca 0%,#fffbef 82%);
border:1px solid #FCEAA9;
}
.box_yellow{
border:1px solid  #F4D775;
}
.box_yellow .header,.title_yellow, .box_yellow h3{
background: #ffeeb5;
background: -moz-linear-gradient(top, #ffeeb5 0%, #fff1d3 82%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffeeb5), color-stop(82%,#fff1d3));
background: -webkit-linear-gradient(top, #ffeeb5 0%,#fff1d3 82%);
background: -o-linear-gradient(top, #ffeeb5 0%,#fff1d3 82%);
background: -ms-linear-gradient(top, #ffeeb5 0%,#fff1d3 82%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeeb5', endColorstr='#fff1d3',GradientType=0 );
background: linear-gradient(top, #ffeeb5 0%,#fff1d3 82%);
border-bottom:1px solid  #F4D775;
}

.box_green{
border:1px solid  #498719;
}
.box_green .header,.box_green h3{
background: #498719;
background: -moz-linear-gradient(top, #498719 29%, #6ea543 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,#498719), color-stop(100%,#6ea543));
background: -webkit-linear-gradient(top, #498719 29%,#6ea543 100%);
background: -o-linear-gradient(top, #498719 29%,#6ea543 100%);
background: -ms-linear-gradient(top, #498719 29%,#6ea543 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#498719', endColorstr='#6ea543',GradientType=0 );
background: linear-gradient(top, #498719 29%,#6ea543 100%);
margin: 0px;
color: #fff;
text-shadow: 0px 1px 0px #000;
border-bottom:1px solid  #498719;
}

.yellow_hard{
 border:1px solid  #ffcd00;   
}
.yellow_hard h3{
background: #ffcd00;
background: -moz-linear-gradient(top, #ffcd00 29%, #ffe787 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,#ffcd00), color-stop(100%,#ffe787));
background: -webkit-linear-gradient(top, #ffcd00 29%,#ffe787 100%);
background: -o-linear-gradient(top, #ffcd00 29%,#ffe787 100%);
background: -ms-linear-gradient(top, #ffcd00 29%,#ffe787 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcd00', endColorstr='#ffe787',GradientType=0 );
background: linear-gradient(top, #ffcd00 29%,#ffe787 100%);
border-bottom:1px solid  #ffcd00;
color: #333;
text-shadow: 0px 1px 0px #fff;
}

.title{
background: #e2eeff;
background: -moz-linear-gradient(top, #e2eeff 22%, #bfdbff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#e2eeff), color-stop(100%,#bfdbff));
background: -webkit-linear-gradient(top, #e2eeff 22%,#bfdbff 100%);
background: -o-linear-gradient(top, #e2eeff 22%,#bfdbff 100%);
background: -ms-linear-gradient(top, #e2eeff 22%,#bfdbff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2eeff', endColorstr='#bfdbff',GradientType=0 );
background: linear-gradient(top, #e2eeff 22%,#bfdbff 100%);
border: 1px solid #7AB1FF; 
    -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
color: #000;
line-height: 20px;
padding: 8px 15px; 
font-size: 9pt;  
  
}

.col2{
    width: 635px;
    float: left;
    margin-right: 5px;    
}

.col1{
    width: 310px; 
    float: left;
    margin-right: 5px;
    
}
.last_col{
   margin-right: 0px; 
}

.title_green{ 
    
 background: #498719;
background: -moz-linear-gradient(top, #498719 29%, #6ea543 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,#498719), color-stop(100%,#6ea543));
background: -webkit-linear-gradient(top, #498719 29%,#6ea543 100%);
background: -o-linear-gradient(top, #498719 29%,#6ea543 100%);
background: -ms-linear-gradient(top, #498719 29%,#6ea543 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#498719', endColorstr='#6ea543',GradientType=0 );
background: linear-gradient(top, #498719 29%,#6ea543 100%);
margin: 0px;
color: #fff;
text-shadow: 0px 1px 0px #000;
border:1px solid  #3E6B1A;   
    
}
p{
    font-size: 9pt;
    margin-top: 10px;
}
h2{
    font-size: 13pt;
}
.post{
    margin: 10px 0px;
    clear: both;
    display: block;
    width: 99%;
}
.green_posts h2 a{
    font-size: 11pt;
}
.box .meta{
    margin-left: 5px;
}
.form-allowed-tags{
    font-family: 'courier new';
    color: #aaa;
}
.meta{
    font-size: 8pt;
    margin-bottom: 5px;
    font-style: italic;
    margin-top: 3px;
}
.arc .meta{
    float: right;
    margin-right: 10px;    
    color: #aaa !important;
}
.arc p{
    padding: 0px 10px;
}
.comment-author-admin{
    border:1px solid #FFE5A0;
    background: #FFFAEF;
    padding: 3px;
}
.comment-meta *{
    font-size: 8pt;
}
.green_posts .meta,.green_posts .meta *{
    color: #336699;    
}
.green_posts a{
    color: #2765B5;
    text-decoration: none;
}
.green_posts .custom-post-thumb,.wp-post-image{
    float: left;
    padding: 5px;
    margin-right: 10px ;
    
}
.sidebar .box{
    width: 100%;
}

.box a{
    color: #226AC1;
    text-decoration: none;
}

.widget_content a:hover{
    text-decoration: underline;
}
.widget_content{
    padding: 10px 20px;    
}
.widget{
    background: #fff;
}
.widget li{    
    list-style: none;    
    padding: 3px 0px;     
}

#wp-calendar{
    width: 100%;
}
#wp-calendar *{
    text-align: center;
}
.box h3{
    overflow: hidden;     
}

.post ol,.post ul{
    margin-left: 20px;
    list-style: square;
}
h1,h2,h3,h4{
    font-family: 'Corben', sans-serif;
    clear: both;
    display: block;
}
.post h1{
    font-size:20pt;    
}
.home-box{
    height:150px;
    overflow: hidden;
}
table{
    width: 100%;
    border:1px solid  #7AB1FF;
    border-collapse: collapse;   
    border-bottom:0px solid  #7AB1FF;
}

th{
background: #fcfdff;
background: -moz-linear-gradient(top, #fcfdff 1%, #eaf3ff 56%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fcfdff), color-stop(56%,#eaf3ff));
background: -webkit-linear-gradient(top, #fcfdff 1%,#eaf3ff 56%);
background: -o-linear-gradient(top, #fcfdff 1%,#eaf3ff 56%);
background: -ms-linear-gradient(top, #fcfdff 1%,#eaf3ff 56%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfdff', endColorstr='#eaf3ff',GradientType=0 );
background: linear-gradient(top, #fcfdff 1%,#eaf3ff 56%);
border-bottom:1px solid  #7AB1FF;
padding: 5px;
text-align: left;
}

td{
    padding: 5px;
    border-bottom:1px solid  #7AB1FF;
}
.mx_comments ul ul,
.mx_comments ol ol{
    margin-left: 65px;
}
del{
    color:#800000;
}
.mx_comments ul li{
    list-style: none;
    margin-bottom: 10px;
}
.mx_comments .author-box{
    float: left;
    padding: 5px;
    margin-right: 10px;
    -moz-box-shadow: inset 0 0 5px #888;
-webkit-box-shadow: inset 0 0 5px#888;
box-shadow: inner 0 0 5px #888;
}
.mx_comments .commentmetadata a{
    color: #ccc;
}
.mx_comments .commentmetadata{
    font-size:12pt;    
    display: block;
    clear: right;
    line-height: 25px;
    color: #ccc;
}
.mx_comments .comment-content ol,
.mx_comments .comment-content ul{
    margin-left: 0px;
}
.mx_comments .comment-content ol ol,
.mx_comments .comment-content ul ul{
  margin-left: 20px;   
}
.mx_comments .comment-content{
     margin-left: 78px;
}
#cancel-comment-reply-link,#commentform input[type=submit],.mx_comments .comment-reply-link{
cursor: pointer;    
background: #4a8ed3;
background: -moz-linear-gradient(top, #4a8ed3 48%, #356aa0 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,#4a8ed3), color-stop(100%,#356aa0));
background: -webkit-linear-gradient(top, #4a8ed3 48%,#356aa0 100%);
background: -o-linear-gradient(top, #4a8ed3 48%,#356aa0 100%);
background: -ms-linear-gradient(top, #4a8ed3 48%,#356aa0 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a8ed3', endColorstr='#356aa0',GradientType=0 );
background: linear-gradient(top, #4a8ed3 48%,#356aa0 100%);
float: left;
color:#fff;
font-size: 9pt;
padding:2px 10px 4px 10px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
float: right;
font-family: 'Segoe UI';
font-style: italic;
border: 1px solid #4a8ed3;
margin-bottom: 10px;
}
#commentform p{
    margin-bottom:5px;
 
}
#commentform p .required{
    color: #ff0000;
}
#commentform p label{
    font-weight: bold; 
    width: 200px;
    color: #aaa;  
    font-family: Julee;
}
#commentform p input[type=text]{
    display: block;
    padding: 5px;
 
border: 1px solid #2765B5;;
width: 89%;
                           
}
.comment-form-author,.comment-form-email,.comment-form-url{
    width:33%;
    float: left;
}
 
.mx_comments .commentmetadata .fn ,
.mx_comments .commentmetadata .fn a{
    float: left;
    margin-right: 10px;
    font-family: Julee;
    font-size: 12pt;
    color: #2765B5 !important;    
    
}
#commentform textarea{
    width: 95%;
    padding: 5px;
    
border: 1px solid #2765B5;;
}
#commentform input[type=submit]{
    font-size:12pt;
    font-weight: bold;
    float: left;
    margin-top: 5px;
}
#respond{
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #2765B5;
}
.single p{display: block;clear: both; font-size:10pt;}

p img{    
 padding: 5px;
    margin-right: 10px;
    display: block;
    -moz-box-shadow: inset 0 0 5px #2765B5;
-webkit-box-shadow: inset 0 0 5px #2765B5;
box-shadow: inner 0 0 5px #2765B5;  
margin: 10px 10px 10px 0;
}
p img.alignright{
    float: right;
    margin: 10px 0px 10px 10px;
}
p img.alignleft{
    float: left;
}
p img.aligncenter{
    display: block;   margin-left: auto;   margin-right: auto;
}
.wp-caption-text{
    text-align: center;
}
.sticky, blockquote{
    background: #ffffff;
background: -moz-linear-gradient(top, #ffffff 77%, #f3f3f3 95%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(77%,#ffffff), color-stop(95%,#f3f3f3));
background: -webkit-linear-gradient(top, #ffffff 77%,#f3f3f3 95%);
background: -o-linear-gradient(top, #ffffff 77%,#f3f3f3 95%);
background: -ms-linear-gradient(top, #ffffff 77%,#f3f3f3 95%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
background: linear-gradient(top, #ffffff 77%,#f3f3f3 95%);
border: 1px solid #ddd;
padding: 10px;
margin: 10px 0px;
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.footer{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.footer .content{
    padding: 5px;
    font-family: 'Julee';
    font-style: italic;
}
.footer .header{
    font-size: 10pt;
    
}
.footer .header ul{
    width: 100%;       
    float: left;
    left: 50%;
    position: relative;
}
.footer .header li{
    list-style: none;
    float: left;
    right: 50%;
    display: inline;
    position: relative;     
    margin-right: 10px;
}
.gallery-caption{
    

} 

.bypostauthor{
    
}

.new-downloads li:nth-child(odd), .top-downloads li:nth-child(odd) {
    background: #f1f1f1;
}
.new-downloads li,.top-downloads li{
    margin-bottom: 5px;
}
.new-downloads img,.top-downloads img{
    margin-right: 5px;
}

ul ul{
    margin-left: 15px;
}

table.dtable{  width:620px; }
table.dtable *{ text-align: center !important; }
.fieldset{ border: 1px solid #7AB1FF; padding: 10px; margin-top: 10px;width:600px;}
.fieldset legend{ font-family: Julee; font-size: 13pt;}
.wpdm_package{background: #fafafa;}
.share, .share *{ border: 0px;}
.share td{
    width: 20%; overflow: hidden;
}

a.download-link{
    /*background: url(http://i1.squidoocdn.com/resize/squidoo_images/-1/draft_lens18396712module152677546photo_1314233553Download_now_button.png) left top no-repeat;*/
    background: url(../../../plugins/download-manager/images/download_now_button.png) left top no-repeat;
    height: 95px;
    width: 300px;
    text-indent: -9999999;
    color: transparent;
    display: block;
    margin-left: 170px;
}

.sidebar .fieldset{
    width: 290px;
    margin-left: 4px;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.sidebar a.download-link{
    margin-left: 10px;
}
